{{#extends "base"}}
  {{#block "content"}}
    <h2>Current Lost Items</h2>
    <div class="container">
      <div class="row">
        {{#each allItems}}
          <div class="card me-3 mt-3" style="width: 18rem">
            <div class="class-body m-3">
              <h5 class="card-title">{{this.itemName}}</h5>
              <p class="card-text">Location: {{this.location}}</p>
              <p class="card-text">Properties: {{this.properties}}</p>
              <p class="card-text">Found by: {{this.email}}</p>
            </div>
          </div>
        {{/each}}
        <a href="/add-item" class="btn btn-primary mt-3">Add item</a>
      </div>
    </div>
  {{/block}}
{{/extends}}