{{#extends "base"}}
  {{#block "content"}}
    <form method="POST">
      <div class="alert alert-warning" role="alert">
        Sure bo?
        <div>
          <a href="/home" class="btn btn-success">Cancel</a>
          <input type="submit" class="btn btn-danger" />
        </div>
      </div>
    </form>
  {{/block}}
{{/extends}}