{{#extends "base"}}
  {{#block "content"}}
    <form method="POST">
      <label>Height</label>
      <input type="text" name="height" placeholder="Enter height" />
      <label>Weight</label>
      <input type="text" name="weight" placeholder="Enter weight" />
      <input type="submit" value="Calculate BMI" />
    </form>
  {{/block}}

{{/extends}}