{{#extends "base"}}
  {{#block "content"}}
    <h2>Add New Movie</h2>
    <form method="POST">
      <label class="form-label">Name: </label>
      <input class="form-control mb-3" type="text" name="name" />
      <label class="form-label">Genre: </label>
      <input class="form-control mb-3" type="text" name="genre" />
      <label class="form-label">Year: </label>
      <input class="form-control mb-3" type="number" name="year" />
      <label class="form-label">Duration: </label>
      <input class="form-control mb-3" type="number" name="duration" />
      <label class="form-label">Score: </label>
      <input class="form-control mb-3" type="number" name="score" />
      <input type="submit" class="btn btn-primary" value="Add" />
      <a href="/" class="btn btn-secondary">Cancel</a>
    </form>
  {{/block}}
{{/extends}}