{{#extends "base"}}
  {{#block "content"}}
    <div class="container">
      <h2>Add a new movie!</h2>
      <form method="POST">
        <div class="mb-2">
          <label for="movieTitle" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="movieTitle"
            name="movieTitle"
          />
        </div>
        <div class="mb-2">
          <label for="genre" class="form-label">Genre</label>
          <input type="text" class="form-control" id="genre" name="genre" />
        </div>
        <div class="mb-2">
          <label for="duration" class="form-label">Duration</label>
          <input
            type="text"
            class="form-control"
            id="duration"
            name="duration"
          />
        </div>
        <div class="mb-2">
          <label for="rating" class="form-label">Rating</label>
          <input type="text" class="form-control" id="rating" name="rating" />
        </div>
        <div>
          <button type="text" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  {{/block}}
{{/extends}}