{{#extends 'base'}}
  {{#block 'content'}}
  <h1>Add a new Pokemon</h1>
    <form method="POST">
      <div>
        <label class="form-label">Pokemon Name: </label>
        <input type="text" class="form-control" name="name">
        <label class="form-label">Type: </label>
        <input type="text" class="form-control" name="type">
        <input type="submit" class="btn btn-primary mt-3" value="Add Pokemon">
      </div>
    </form>
  {{/block}}
{{/extends}}