{{#extends "base"}}
  {{#block "content"}}
    <div class="container">
      <h1>Add new item</h1>
      <form method="POST">
        <label class="form-label">Food Name:</label>
        <input class="form-control" type="text" name="foodName" />
        <label class="form-label">Calories:</label>
        <input class="form-control" type="text" name="calories" />

        <label>Meal</label>
        <input
          type="radio"
          class="form-check-input"
          name="cuisine"
          value="western"
          checked
        />Western
        <!-- westen is default-->
        <input
          type="radio"
          class="form-check-input"
          name="cuisine"
          value="chinese"
        />Chinese
        <input
          type="radio"
          class="form-check-input"
          name="cuisine"
          value="japanese"
        />Japanese

        <input
          type="checkbox"
          class="form-check-input"
          name="tags"
          value="cheap"
        />Cheap
        <input
          type="checkbox"
          class="form-check-input"
          name="tags"
          value="free"
        />Free

        <input type="submit" class="btn btn-primary" value="Add" />

      </form>
    </div>
  {{/block}}
{{/extends}}